---
import { Image } from 'astro:assets';
import whatsapp from '~/assets/whatsapp.svg';
---

<div data-aos="fade-up">
  <a href="https://chat.whatsapp.com/HgnvveWfduzKfNepLLxB01" target="_blank" id="whatsappLink">
    <div
      class="button-call gradient-text relative z-10 font-bold uppercase transition duration-300 ease-in-out hover:scale-110"
    >
      <Image src={whatsapp} alt="learn" class="logo-svg" />
      INSCRIBETE GRATIS AQUI
      <div class="button-call-2 opacity-0"></div>
    </div>
  </a>
</div>

<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  AOS.init({
    duration: 750
  });
  !(function (f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function () {
      n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
    };
    n.push = n.loaded = !0;
    n.version = '2.0';
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s);
  })(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '7974826735928388');
  fbq('track', 'PageView');

  document.getElementById('whatsappLink').addEventListener('click', function () {
    fbq('track', 'CompleteRegistration');
  });
</script>

<style>
  .button-call,
  .button-call-2 {
    width: 350px;
    height: 70px;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    background: linear-gradient(-45deg, #00af2c, #e00000, #8cfd30, #ff2d2d);
    background-size: 600%;
    -webkit-animation: anime 16s linear infinite;
    animation: anime 16s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  .button-call-2 {
    position: absolute;
    margin-top: -70px;
    z-index: -1;
    filter: blur(30px);
  }

  .button-call:hover > .button-call-2 {
    opacity: 0.8;
  }

  @-webkit-keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes anime {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 768px) {
    .button-call {
      width: 250px;
      height: 80px;
      font-size: 16px;
      line-height: 80px;
    }

    .logo-svg {
      width: 20px;
      height: 20px;
    }
  }
</style>
