---
import { Image } from 'astro:assets';
import rocket from '~/assets/rocket.svg';
import learn from '~/assets/learn.svg';
import trophy from '~/assets/trophy.svg';
import store from '~/assets/store.svg';
import { siteConfig } from '~/config/site.config';
const icons = {
  learn,
  store,
  rocket,
  trophy
};
---

<div class="gradient relative z-10 grid space-y-12 px-8 py-10 min-[449px]:px-4">
  <div
    class="gradient-text text-center font-extrabold tracking-tighter text-3xl"
    data-aos="fade-up"
  >
    4 CLASES CON EL PASO A PASO<span class="hidden min-[480px]:inline min-[900px]:hidden"
      ><br /></span
    > QUE ME PERMITIÓ <span class="max-[900px]:hidden"><br /></span> CREAR UN<span
      class="hidden min-[480px]:inline min-[900px]:hidden"><br /></span
    > NEGOCIO RENTABLE EN LÍNEA
  </div>
  <div
    class="inline-flex max-w-[1100px] flex-wrap justify-center gap-4 justify-self-center min-[900px]:gap-8"
  >
    {
      siteConfig.classes.map((classItem) => (
        <div class="card h-60 w-[352px]" data-aos="fade-up">
          <div class="profile">
            <div class="img-container">
              <Image src={icons[classItem.icon as keyof typeof icons]} alt={classItem.title} />
            </div>
            <div class="gradient-text-2 ml-4 self-center text-center font-extrabold text-2xl">
              <h1>{classItem.title}</h1>
            </div>
          </div>
          <div class="description text-justify uppercase">
            <span>{classItem.description}</span>
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  AOS.init({
    duration: 750
  });
</script>

<style>
  .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(221, 127, 141, 0.6);
    -webkit-box-shadow: 0px 0px 2px -2px #c7c3c7;
    -moz-box-shadow: 0px 0px 2px -2px #c7c3c7;
    box-shadow: 0px 0px 2px -2px #c7c3c7;
    transition: all 100ms ease;
  }

  .card:hover {
    transform: translate(-4px, -4px);
    -webkit-box-shadow: 15px 15px 35px -2px #c7c3c7;
    -moz-box-shadow: 15px 15px 35px -2px #c7c3c7;
    box-shadow: 15px 15px 35px -2px #c7c3c7;
  }

  .img-container {
    height: 5rem;
    width: 5rem;
  }

  img {
    width: 100%;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }

  .name {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .name > h1 {
    margin: 0;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }

  .name > h2 {
    margin: 0;
    margin-top: 0.7rem;
    color: rgba(30, 30, 30, 0.8);
    font-size: 0.9rem;
  }

  .description {
    flex: 1 0 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
  }

  .description > span {
    color: black;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.4px;
  }

  .gradient {
    background-color: transparent;
  }

  @media (max-width: 900px) {
    .card {
      width: 100%;
    }
  }
</style>
