---
import Starfield from '~/components/starfield.astro';
import Countdown from './countdown.astro';
import CallToAction from './call-to-action.astro';
import { Image } from 'astro:assets';
import foto from '~/assets/heronew.webp';
import { siteConfig } from '~/config/site.config';
---

<section class="relative sm:mb-0 sm:h-full">
  <Starfield />

  <div class="relative flex h-full flex-col sm:flex-row">
    <div class="relative z-10 mb-4 w-full sm:hidden">
      <Image
        class="profile-image h-full object-cover"
        src={foto}
        alt="Hero picture"
        loading="lazy"
      />
      <!-- <div class="absolute inset-0 bg-gradient-to-b from-black to-transparent"></div> -->
      <div class="absolute -inset-1 bg-gradient-to-t from-black to-transparent"></div>
    </div>

    <div
      class="z-20 flex w-full flex-col items-center justify-center gap-6 px-4 text-center max-[640px]:-mt-52 sm:w-1/2"
    >
      <h2 class="mt-5 flex flex-col items-center">
        <div
          class="gradient-text font-extrabold tracking-tighter text-5xl xl:text-6xl"
          data-aos="fade-up"
          set:html={siteConfig.sections.hero.title}
        />
      </h2>

      <div
        class="gradient-text mt-5 w-3/4 font-extrabold leading-snug tracking-tighter text-lg sm:mt-4 sm:leading-relaxed sm:text-lg"
        data-aos="fade-up"
      >
        <p class="leading-3 text-lg sm:text-lg" set:html={siteConfig.sections.hero.description} />
      </div>
    </div>

    <div class="relative hidden h-full w-1/2 sm:block">
      <Image
        class="profile-image h-full object-cover"
        src={foto}
        alt="Hero picture"
        loading="lazy"
      />
      <div class="absolute -inset-1 z-20 bg-gradient-to-r from-black to-transparent"></div>
      <div class="absolute -inset-1 z-20 bg-gradient-to-t from-black to-transparent"></div>
    </div>
  </div>
</section>

<div class="scroll-indicator sticky z-20 mx-auto mt-8 block sm:hidden"></div>

<div
  class="relative z-30 mx-auto mt-12 flex w-full flex-col items-center justify-center gap-4 sm:absolute sm:bottom-20 sm:right-1 sm:w-1/2 md:mt-0"
>
  <Countdown class="fade-up" />
  <CallToAction class="call-to-action" />
</div>

<div class="scroll-indicator sticky z-20 mx-auto -mt-10 hidden sm:block"></div>
<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  AOS.init({
    duration: 1000,
    easing: 'ease-in-out'
  });

  let countdownTime = 60 * 60;
  let timer: string | number | NodeJS.Timeout | undefined;

  const startCountdown = () => {
    timer = setInterval(() => {
      if (countdownTime > 0) {
        countdownTime--;
      } else {
        clearInterval(timer);
      }
    }, 1000);
  };
</script>

<style>
  .scroll-indicator {
    width: 0;
    height: 0;
    /* margin: -50px auto 0 auto; */
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 0;
    border-top: 30px solid #ed4f90; /* Color del triángulo */
    animation: bounce 2s infinite;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }
</style>
